<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/790c491f2b.js" crossorigin="anonymous"></script>
    <title>Amazing Events | Past Events</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="../index.html">
                    <img id="logo" src="../assets/img/LogoAmazingEvents.png" alt="logo">
                </a>
            </div>
            <input type="checkbox">
            <ul>
                <li> <a href="../index.html">Home</a></li>
                <li> <a href="../pages/upcomingevents.html"> Upcoming Events</a></li>
                <li> <a href="../pages/pastevents.html"> Past Events</a></li>
                <li> <a href="../pages/contacts.html"> Contacts</a></li>
                <li> <a href="../pages/stats.html"> Stats</a></li>
            </ul>
            <i class="fa-solid fa-bars"></i>
            <i class="fa-regular fa-x"></i>
        </nav>
        <div class="slide">
            <a href="./upcomingevents.html">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <h1>Past Events</h1>
            <a href="./contacts.html">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
    </header>
    <main id="app">
        <div>
            <form class="search" action="nothing">
                <fieldset id="checkbox">
                    <template v-if="category.length > 0" v-for="element of category">
                        <input v-model="checked" type="checkbox" v-bind:id="element" v-bind:name="element" v-bind:value="element">
                        <label v-bind:for="element"> {{element}} </label>
                    </template>
                </fieldset>
                <fieldset>
                    <input v-model="search" type="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </fieldset>
            </form>
        </div>
            <div class="card" id="container">
                <template v-if="filterCards.length > 0" v-for="card of filterCards">
                    <section>
                        <img v-bind:src="card.image" v-bind:alt="card.name">
                        <h3>{{card.name}}</h3>
                        <h5>{{card.category}}</h5>
                        <div class="card1">
                        <p>${{card.price}},00</p>
                        <a v-bind:href="'/pages/details.html?id='+card._id"><button class="vermas">More info</button></a>
                        </div>
                    </section>
                </template>
                <template v-else>
                    <h1>Not Found</h1>
                </template>
            </div>
            {{ filter }}
    </main>
    <footer>
        <div>
            <div class="ancors">
                <div class="botones">
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://es-la.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <div class="cohort">
                    <h2>FE06-TN</h2>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>